name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2

      - name: Generate Deployment Package
        # Zips the code, ignoring the git history and venv to save space
        run: zip -r deploy.zip . -x "*.git*" "venv/*" ".gitignore"

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: student-performance    # MUST match what you named it in Step 2
          environment_name: Studentperformance-env # MUST match what you copied in Step 2
          version_label: "ver-${{ github.sha }}"
          region: us-east-1                        # CHANGE THIS if your URL is not us-east-1
          deployment_package: deploy.zip